body{
    font-family: Verdana, Arial;
    background-color: #F8F9FA;
    color: #29364E;
    line-height: 150%;
}
.InicioFinal{
    background-color: #576A8A;
    color: #e9ecef;
    position: relative;
    width: 100%;
    right: 10px;
    padding: 10px;
}
header{
    font-size: 20pt;
    font-weight: 600;
    line-height: 200%;
    bottom: 10px;
}
footer{
    top: 10px;
    padding-top: 0px;
}
nav ul{
    background-color:#576A8A;
    list-style:none;
    padding: 10px;
    position: relative;
    right: 10px;
    bottom: 25px;
    display: flex;
    width: 100%;
    justify-content: center;
}
nav ul li a{
    margin-left: 60px;
    margin-right: 60px;
    color: #e9ecef;
    text-decoration: none;
}
nav ul li a:hover{
    text-decoration: underline;
}
section{
    background-color: #DFE8F7;
}
aside{
    background-color: #CCD7E9;
}
p{
    text-align: justify;
    padding: 10px;
}
div{
    text-align: center;
}
h3{
    font-size: 16pt;
    position: relative;
    left: 20px;
}
h1, h2{
    background-color: #A9B9D3;
    color: #17202F;
    padding: 5px;
}